body {
    margin: 0;
    padding: 0;
}

.bg-img {
    background-image: url(../images/covid-19-1330px-2.jpg);
    height: 50vh;
    background-position: center; 
    background-position: no-repeat;
    background-size: auto;
}